In [3]:
#Think Stats book - Chapter 1: Exploratory Data Analysis
#http://greenteapress.com/thinkstats/survey.py

import pandas as pd
import numpy as np
import survey

In [79]:
table = survey.Pregnancies()
table.ReadRecords()
print('Number of pregnancies: ', len(table.records))

Number of pregnancies:  13593

In [23]:
names = []
first_value = []
second_value = []
for register in table.GetFields():
    print(register)
    names.append(register[0])
    first_value.append(register[1])
    second_value.append(register[2])
    
#caseid: id of the respondent
#prglength: pregnancy duration (in weeks)
#outcome: number 1 indicates live birth
#birthord: number 1 indicates first child
#finalwgt: Number of people in US population this respondent represents

('caseid', 1, 12, <class 'int'>)
('nbrnaliv', 22, 22, <class 'int'>)
('babysex', 56, 56, <class 'int'>)
('birthwgt_lb', 57, 58, <class 'int'>)
('birthwgt_oz', 59, 60, <class 'int'>)
('prglength', 275, 276, <class 'int'>)
('outcome', 277, 277, <class 'int'>)
('birthord', 278, 279, <class 'int'>)
('agepreg', 284, 287, <class 'int'>)
('finalwgt', 423, 440, <class 'float'>)

In [78]:
#It's easier to work with dataframes
data = pd.read_fwf("2002FemPreg.dat", names=names,
                                       colspecs=[(first_value[0]-1, second_value[0]), (first_value[1]-1, second_value[1]),
                                                 (first_value[2]-1, second_value[2]), (first_value[3]-1, second_value[3]),
                                                 (first_value[4]-1, second_value[4]), (first_value[5]-1, second_value[5]),
                                                 (first_value[6]-1, second_value[6]), (first_value[7]-1, second_value[7]),
                                                 (first_value[8]-1, second_value[8]), (first_value[9]-1, second_value[9])])
data.head(10)

,caseid,nbrnaliv,babysex,birthwgt_lb,birthwgt_oz,prglength,outcome,birthord,agepreg,finalwgt
0,1,1.0,1.0,8.0,13.0,39,1,1.0,3316.0,6448.271112
1,1,1.0,2.0,7.0,14.0,39,1,2.0,3925.0,6448.271112
2,2,3.0,1.0,9.0,2.0,39,1,1.0,1433.0,12999.542264
3,2,1.0,2.0,7.0,0.0,39,1,2.0,1783.0,12999.542264
4,2,1.0,2.0,6.0,3.0,39,1,3.0,1833.0,12999.542264
5,6,1.0,1.0,8.0,9.0,38,1,1.0,2700.0,8874.440799
6,6,1.0,2.0,9.0,9.0,40,1,2.0,2883.0,8874.440799
7,6,1.0,2.0,8.0,6.0,42,1,3.0,3016.0,8874.440799
8,7,1.0,1.0,7.0,9.0,39,1,1.0,2808.0,6911.879921
9,7,1.0,2.0,6.0,10.0,35,1,2.0,3233.0,6911.879921

In [70]:
data.describe()

,caseid,nbrnaliv,babysex,birthwgt_lb,birthwgt_oz,prglength,outcome,birthord,agepreg,finalwgt
count,13593.000000,9148.000000,9144.000000,9144.000000,9144.000000,13593.000000,13593.000000,9148.000000,13241.000000,13593.000000
mean,6216.526595,1.025907,1.494532,6.653762,26.249453,29.531229,1.763996,1.824552,24.230949,8196.422280
std,3645.417341,0.252864,0.515295,1.588809,29.371073,13.802523,1.315930,1.037053,5.824302,9325.918114
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,10.000000,118.656790
25%,3022.000000,1.000000,1.000000,6.000000,7.000000,13.000000,1.000000,1.000000,20.000000,3841.375308
50%,6161.000000,1.000000,1.000000,7.000000,8.000000,39.000000,1.000000,2.000000,23.000000,6256.592133
75%,9423.000000,1.000000,2.000000,8.000000,61.000000,39.000000,2.000000,2.000000,28.000000,9432.360931
max,12571.000000,9.000000,9.000000,9.000000,99.000000,50.000000,6.000000,9.000000,44.000000,261879.953864

In [71]:
data.dtypes

caseid           int64
nbrnaliv       float64
babysex        float64
birthwgt_lb    float64
birthwgt_oz    float64
prglength        int64
outcome          int64
birthord       float64
agepreg        float64
finalwgt       float64
dtype: object

In [72]:
data.shape

(13593, 10)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13593 entries, 0 to 13592
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   caseid       13593 non-null  int64
 1   nbrnaliv     9148 non-null   float64
 2   babysex      9144 non-null   float64
 3   birthwgt_lb  9144 non-null   float64
 4   birthwgt_oz  9144 non-null   float64
 5   prglength    13593 non-null  int64
 6   outcome      13593 non-null  int64
 7   birthord     9148 non-null   float64
 8   agepreg      13241 non-null  float64
 9   finalwgt     13593 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 1.0 MB

In [74]:
#Count the number of live births
live_births = data[data['outcome'] == 1]
print('Number of live births: ', live_births.shape[0])

Number of live births:  9148

In [75]:
data['outcome'].value_counts()

1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64

In [82]:
#Modify the loop to partition the çive birth records into two groups, one for first babies and one for the others
first_babies = live_births[live_births['birthord'] == 1]
others = live_births[live_births['birthord'] != 1]
print('First babies: ', first_babies.shape[0])
print('Others: ', others.shape[0])

First babies:  4413
Others:  4735

In [83]:
#Compute the average pregnancy length (in weeks) for first babies and others
print('Average pregnancy length (in weeks) for first babies', round(first_babies['prglength'].mean(), 2))
print('Average pregnancy length (in weeks) for non first babies', round(others['prglength'].mean(), 2))

print('Difference between the groups: ', round(first_babies['prglength'].mean()- others['prglength'].mean(), 2))

Average pregnancy length (in weeks) for first babies 38.6
Average pregnancy length (in weeks) for non first babies 38.52
Difference between the groups:  0.08

Significance: 
0.08 weeks = 13 hours and 44 minutes.
We found out that first babies are born about 13 hours later, on average. A difference like that is called an apparent effect;
that is, there might be something going on, but we are not yet sure. There are several questions we still want to ask:
    - Can we be more precise about how the groups differ? What about other summary statistics, like median and variance?
    - Is it possible that the difference we saw could occur by chance, even if the groups we compared are actually the same? If so, we would conclude that the effect was not statiscally significant.
    - Is it possible that the apparent effect is due to selection bias or some other error in the experimental setup? If so, we might conclude that the effect is an artifact; that is, something we created (by accident) rather than found.